/* * Margin : The space around the elements */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    border: 2px solid red;
    text-align: center;


    /* Apply to all four sides */
    margin: 1em;
    /* margin: -3px; */

    /* top and bottom | left and right */
    /* margin: 5% auto; */

    /* top | left and right | bottom */
    /* margin: 1em auto 2em; */

    /* top | right | bottom | left */
    /* margin: 2px 1em 0 auto; */
}

